
* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background :#fefefe;
    margin:0;
    padding-left: 200px;
}

.app {
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: row;
 }