* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

button{
    outline: none;
}

body{
    background : #f5f5f5;
    margin:0;
    overflow: hidden;
}

h3{
    font-size: 1.5em;
    color: #7b7b7b;
}

hr{
    height:1px;
    border-width:0;
    background-color: #e7e7e7
}

.objWorkList p{
    width: 100px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ECECEC;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #DDDDDD ;
}

.app {
    margin: 0;
    padding: 0;
}

/*__________Side bar menu__________*/

.sideBar{
    height: 100vh;
    float: left;
    position: absolute;
    background-color: #6E0000;
    border-radius: 0 15px 15px 0;
    transition: 250ms;
    display: flex;
    flex-flow: column;
}

.sbOpened{
    width: 230px;
}

.sbClosed{
    width: 100px;
}

.sideBar header{
    text-align: right;
    margin: 10px;
    font-weight: bolder;
    font-size: 20px;
    color: #FFD4D4;
    transition: 200ms;
}

.sideBar span:hover {
    cursor: pointer;
    color: #ff8f8f;
    transform: scale(1.01);
}

.sideBar ul{
    list-style: none;
    padding: 0;
    margin: 0 25px;
}

.listContainer img{
    width: 25px;
}

.sideBar li{
    color: #FFD4D4;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: 250ms;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0;
}

.sideBar li:hover{
    cursor: pointer;
    transform: scale(1.01);
    color: #ffa6a6;
    box-shadow: 0 2px 5px #b43a3a;
}

.listContainer{
    width: 100%;
    flex-grow : 1;
    background-color: #851313;
    border-radius: 0 50px 15px 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.noUnder{
    text-decoration: none;
}

.userProfile{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
}

.profileImgNormal{
    width: 100px;
    transition: 250ms;
    border-radius: 50%;
    box-shadow: 0 2px 5px #ef6d6d;
}
.profileImgSmall{
    width: 60px;
    transition: 250ms;
    border-radius: 25%;
    box-shadow: 0 2px 5px #ef6d6d;
}

.userProfile p{
    margin: 10px 0;
    color: #FFD2D2;
    transition: 250ms;
    font-size: 0.8em;
}

.infoBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #6E0000;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 15px;
    position:relative;
    top: 70px;
}

.dataCont{
    display: flex;
    flex-direction: column;
    font-size: 0.6em;
    align-items: flex-start;
    justify-content: space-evenly;
}

.dataCont p{
    margin: 2px 0;
    color: white;
}

/*__________Main__________*/

.main{
    background-color: white;
    height: 100vh;
    transition: 250ms;
}

.complete{
    margin-left: 100px;
}

.incomplete{
    margin-left: 230px;
}

.main header{
    padding: 15px 30px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header span{
    font-weight: lighter;
}

header input{
    border: solid #e8e8e8 1px;
    border-radius: 30px;
    outline: none;
    padding: 10px 50px;
    width: 25%;
}

.workPlace{
    margin: 0 30px;
    border-radius: 15px;
    background-color: #FDFDFD;
    height: 85%;
    border: solid #dbdbdb 1px;
}

.workPlace header{
    background-color: #f6f6f6;
    border-radius: 15px 15px 0 0;
    width: available;
    height: 30px;
    padding: 10px 15px 0 15px;
    justify-content: space-around;
}

.carpetBtn{
    padding: 10px ;
    border-radius: 10px 10px 0 0;
    width: 15%;
    border: none;
    transition: 250ms;
    background-color: #efefef;
    text-decoration: none;
    text-align: center;
    font-size: 0.9em;
    color: #585858;
}
.carpetBtn:hover{
    cursor: pointer;
    background-color: #e5e5e5;
}

#workProject:hover{
    cursor: pointer;
    color: #585858;
    font-weight: bold;
}

.actionIcon{
    transition: 250ms;
}
.actionIcon:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.workListCont{
    padding: 20px;
    height: 100%;
}

.workTitleBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 20px 0;
    color: #585858;
}

.workTitleBtn{
    padding: 5px ;
    border-radius: 10px;
    width: 15%;
    border: none;
    transition: 250ms;
    background-color: #dc6868;
    color: white;
}
.workTitleBtn:hover{
    transform: scale(1.03);
    cursor: pointer;
    background-color: #ee8d8d;
}

.objWorkList{
    height:75%;
    margin: 10px;
    padding: 5px;
    overflow: auto;
}
.labelList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    font-size: 0.5em;
    color: #b1b1b1;
}

.objectiveWorkCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
    font-size: 0.7em;
    background-color: #F6F6F6;
    border-radius: 10px;
    transition: 250ms;
    margin-bottom: 10px;
    color: gray;
}
.objectiveWorkCont:hover{
    background-color: #ececec;
}

.homeWorkPlace{
    margin: 0 30px;
    border-radius: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.objectiveStatus{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 450px;
    padding: 5px;
    border-radius: 15px;
    background-color: #FDFDFD;
    border: solid #dbdbdb 1px;
    margin-bottom: 10px;
}

.objCount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}
.objCount p{
    font-size: 0.8em;
    color: #797979;
}

.objNum{
    padding: 20px 40px;
    margin: 5px;
    font-size: 3em;
    border-radius: 15px;
    background-color: #fff;
    transition: 250ms;
}

.objNum:hover{
    transform: scale(1.015);
    cursor: pointer;
}

.pendientes{
    background-color: #FFD5A5;
    color: #F3982E;
}

.cumplidos{
    background-color: #B6F1A4;
    color: #3EA91E;
}

.totales{
    background-color: #C9E7FF;
    color: #4B92E4;
}

.dashCont{
    border: solid #dbdbdb 1px;
    width: 450px;
    height: auto;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 15px;
    background-color: #FDFDFD;
}

.dashContTitle{
    font-size: 0.9em;
    color: gray;
    margin-left: 10px;
}

.objList{
    height: 170px;
    margin: 10px;
    padding: 5px;
    overflow: auto;
}

.objectiveCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    font-size: 0.7em;
    background-color: #F6F6F6;
    border-radius: 10px;
    transition: 250ms;
    margin-bottom: 10px;
    color: gray;
}

.objectiveCont:hover{
    transform: scale(1.015);
    cursor: pointer;
}

.colorCircle{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: #4B92E4;
    margin: auto;
}

.projectList{
    height: 120px;
    margin: 10px;
    padding: 5px;
    overflow: auto;
}

.projectCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    font-size: 0.7em;
    background-color: #c96fd5;
    border-radius: 10px;
    transition: 250ms;
    margin-bottom: 10px;
    color: white;
}

.projectCont:hover{
    transform: scale(1.015);
    cursor:pointer;
}