* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

button{
    outline: none;
}

.button:hover{
    background-color: #ee8d8d;
    cursor: pointer;
    transform: scale(1.03);
}

body{
    background : #f5f5f5;
    margin:0;
    overflow: hidden;
}

h3{
    font-size: 1.5em;
    color: #7b7b7b;
}

hr{
    height:1px;
    border-width:0;
    background-color: #e7e7e7
}

.objWorkList p{
    width: 100px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ECECEC;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #DDDDDD ;
}

.app {
    margin: 0;
    padding: 0;
}

/*__________Side bar menu__________*/

.sideBar{
    height: 100vh;
    float: left;
    position: absolute;
    background-color: #6E0000;
    border-radius: 0 15px 15px 0;
    transition: 250ms;
    display: flex;
    flex-flow: column;
}

.sbOpened{
    width: 230px;
}

.sbClosed{
    width: 100px;
}

.sideBar header{
    text-align: right;
    margin: 10px;
    font-weight: bolder;
    font-size: 20px;
    color: #FFD4D4;
    transition: 200ms;
}

.sideBar span:hover {
    cursor: pointer;
    color: #FFFFFF;
    transform: scale(1.01);
}

.sideBar ul{
    list-style: none;
    padding: 0;
    margin: 0 25px;
}

.listContainer img{
    width: 25px;
}

.sideBar li{
    color: #FFD4D4;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: 250ms;
    border-radius: 10px;
    padding: 5px;
    margin: 20px 0;
}

.sideBar li:hover{
    cursor: pointer;
    transform: scale(1.01);
    color: #ffa6a6;
    box-shadow: 0 2px 5px #b43a3a;
}

.listContainer{
    width: 100%;
    flex-grow : 1;
    background-color: #851313;
    border-radius: 0 50px 15px 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.listContainer span {
    color: #A7A7A7;
    font-size: small;
}

.noUnder{
    text-decoration: none;
}

.userProfile{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
}

.profileImgNormal{
    width: 100px;
    transition: 250ms;
    border-radius: 50%;
    box-shadow: 0 2px 5px #ef6d6d;
}
.profileImgSmall{
    width: 60px;
    transition: 250ms;
    border-radius: 50%;
    box-shadow: 0 2px 5px #ef6d6d;
}

.userProfile p{
    margin: 10px 0;
    color: #FFD2D2;
    transition: 250ms;
    font-size: 0.8em;
}

.infoBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #6E0000;
    border-radius: 15px;
    padding: 10px;
    margin: 50px 20px;
    position:relative;
    top: 35px;
}
.infoBox img {
    height: 50px;
    width: 50px;
}

.dataCont{
    display: flex;
    flex-direction: column;
    font-size: 0.6em;
    align-items: flex-start;
    justify-content: space-evenly;
}

.dataCont p{
    margin: 8px 0;
    color: white;
    font-size: 8px;
}

/*__________Main__________*/

.main{
    background-color: white;
    height: 100vh;
    transition: 250ms;
}

.complete{
    margin-left: 100px;
}

.incomplete{
    margin-left: 230px;
}

.main header{
    padding: 15px 30px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header span{
    font-weight: lighter;
}

header input{
    border: solid #e8e8e8 1px;
    border-radius: 30px;
    box-shadow: 2px 2px 5px #999;
    outline: none;
    padding: 10px 50px;
    width: 130px;
}

#inputFind {
    position:relative;
    right: 30px;
    padding:0 0 0 20px;
    margin:0 20px;
    width: 200px;
}

#inputImg {
    position:absolute;
    bottom:6px;
    left: 31px;
    width:24px;
    height:24px;
}

.widgetsBtn {
    background-color: #dc6868;
    border: none;
    border-radius: 10px;
    color: white;
    display: flex;
    margin-bottom: 10px;
    padding: 7px ;
    transition: 250ms;
    width: 200px;
}

.widgetsBtn:hover{
    background-color: #ee8d8d;
    cursor: pointer;
    transform: scale(1.03);
}

.widgetsBtn p {
    margin: 2px;
}

#iconMenu{
    margin-right: 15px;
    margin-left: 5px;
}

.workPlace{
    margin: 0 30px;
    border-radius: 15px;
    background-color: #FDFDFD;
    height: 85%;
    border: solid #dbdbdb 1px;
}

.workPlace header{
    background-color: #f6f6f6;
    border-radius: 15px 15px 0 0;
    width: available;
    height: 30px;
    padding: 10px 15px 0 15px;
    justify-content: space-around;
}

.carpetBtn{
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    height: 20px;
    width: 170px;
    border: none;
    transition: 250ms;
    text-decoration: none;
    font-size: 1em;
    color: #FFFFFF;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);

}
.carpetBtn:hover{
    cursor: pointer;
    background-color: #e5e5e5;
}

#workProject:hover{
    cursor: pointer;
    color: #585858;
    font-weight: bold;
}

.actionIcon{
    transition: 250ms;
}
.actionIcon:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.workListCont{
    padding: 20px;
    height: 100%;
    margin-top: 10px;
}

.workTableCard{
    height: 98%;
    border-radius: 15px;
    background-color: #F4F4F4;
}

.workTitleBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 20px 0;
    color: #585858;
}

.workTitleBtn{
    padding: 5px ;
    border-radius: 10px;
    width: 15%;
    border: none;
    transition: 250ms;
    background-color: #dc6868;
    color: white;
}
.workTitleBtn:hover{
    transform: scale(1.03);
    cursor: pointer;
    background-color: #ee8d8d;
}

.workFilterBtn{
    width: 170px;
    height: 25px;
    margin-bottom: 10px;
    background-color: #ff6868;
    border-radius: 10px;
    border: none;
    color: white;


}
.workFilterBtn:hover{
    cursor: pointer;

}

.workTableList{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 15px;
    height: 30px;
    box-shadow: -2px 2px 10px rgba(0,0,0,0.3);
    
}
.workTableLink{
    height: 10px;
    
}

.objWorkList{
    height:75%;
    margin: 10px;
    padding: 5px;
    overflow: auto;
}
.labelList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    font-size: 0.5em;
    color: #b1b1b1;
}

.objectiveWorkCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
    font-size: 0.7em;
    background-color: #F6F6F6;
    border-radius: 10px;
    transition: 250ms;
    margin-bottom: 10px;
    color: gray;
}
.objectiveWorkCont:hover{
    background-color: #ececec;
}

.homeWorkPlace{
    margin: 0 30px;
    border-radius: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/*____Objective/Nivel___*/
.objectiveStatus{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 188px;
    padding: 5px;
    border-radius: 15px;
    background-color: #FDFDFD;
    border: solid #dbdbdb 1px;
    box-shadow: 1px 1px 3px #999;
    margin-bottom: 10px;
}

.objCount{
    background-color: #F7F7F7;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 9px;
    width: inherit;
}
.objCount p{
    font-size: 0.8em;
    color: #797979;
}

.objNum{
    padding: 7px 10px;
    margin: 7px;
    font-size: 2em;
    border-radius: 15px;
    background-color: #fff;
    transition: 250ms;
}


.objNum:hover{
    transform: scale(1.015);
    cursor: pointer;
}

.Nivel{
    background-color: #C186C5;
    color: white;
}

.Objetivos{
    background-color: #FF7575;
    color: white;
}
/*___Widgets___*/
.dashCont{
    border: solid #dbdbdb 1px;
    width: 300px;
    height: auto;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 15px;
    background-color: #FDFDFD;
    box-shadow: 1px 1px 2px #999;
}

.dashContTitle{
    font-size: 0.9em;
    color: gray;
    margin-left: 10px;
}

/*___Mis Objetivos__-*/
.numObj{
    display: flex;
    justify-content: space-between;
}

.numObj span {
    background-color: #E2E2E2;
    color: #9C9C9C;
    border-radius: 20%;
    margin-right: 15px;
    text-align: center;
    width: 20px;
}

.objBtn {
    background-color: #E2E2E2;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #999;
    color: #7E7E7E;
    margin: 1px 0 0 7px;
    padding: 5px;
    width: fit-content;
}

.objList{
    height: 170px;
    margin: 10px;
    padding: 5px;
    overflow: auto;
}

.objectiveCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    font-size: 0.7em;
    background-color: #4C98DA;
    border-radius: 10px;
    transition: 250ms;
    margin-bottom: 10px;
    color: white;
}

.objectiveCont:hover{
    transform: scale(1.015);
    cursor: pointer;
}

/*___Mis proyectos___*/
.dashContProj{
    border: solid #dbdbdb 1px;
    width: 430px;
    height: auto;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 15px;
    background-color: #FDFDFD;
    box-shadow: 1px 1px 2px #999;
}

.projectList{
    height: 120px;
    margin: 10px;
    padding: 5px;
    overflow: auto;
}

.projectCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    font-size: 0.7em;
    background-color: #DA4C4C;
    border-radius: 10px;
    transition: 250ms;
    margin-bottom: 10px;
    color: white;
}

.projectCont:hover{
    transform: scale(1.015);
    cursor:pointer;
}

/*___ Mis mensajes___*/
.dashContMsg{
    border: solid #dbdbdb 1px;
    width: 430px;
    height: auto;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 15px;
    background-color: #FDFDFD;
    box-shadow: 1px 1px 2px #999;
}

.numMsg{
    display: flex;
    justify-content: space-between;
}

.numMsg span {
    background-color: #E2E2E2;
    color: #9C9C9C;
    border-radius: 20%;
    margin-right: 15px;
    text-align: center;
    width: 20px;
}

.messageList{
    height: 120px;
    margin: 10px;
    padding: 5px;
    overflow: auto;
}

.messageCont{
    align-items: center;
    background-color: #F6F6F6;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #999;
    color:#969696;
    display: flex;
    flex-direction: row;
    font-size: 0.7em;
    justify-content: space-evenly;
    margin-bottom: 10px;
    padding: 10px;
    transition: 250ms;
}

.messageCont:hover{
    transform: scale(1.015);
    cursor:pointer;
}

.channelOne {
    background-color: #90C8FF;
    border: none;
    border-radius: inherit;
    color: white;
    width: 90px;
    text-align: center;
}

.channelFour {
    background-color: #B890FF;
    border: none;
    border-radius: inherit;
    color: white;
    width: 90px;
    text-align: center;
}

/*___Mis eventos___*/
.dashContEvents{
    border: solid #dbdbdb 1px;
    width: 230px;
    height: auto;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 15px;
    background-color: #FDFDFD;
    box-shadow: 1px 1px 2px #999;
}

.numEvents{
    display: flex;
    justify-content: space-between;
}

.numEvents span {
    background-color: #E2E2E2;
    color: #9C9C9C;
    border-radius: 20%;
    margin-right: 15px;
    text-align: center;
    width: 20px;
}

.eventList{
    height: 120px;
    margin: 10px;
    padding: 5px;
    overflow: auto;
}

.eventCont{
    align-items: center;
    background-color: #86FF68;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #999;
    color:#FFFFFF;
    display: flex;
    flex-direction: row;
    font-size: 0.7em;
    justify-content: space-evenly;
    margin-bottom: 10px;
    padding: 10px;
    transition: 250ms;
}

.eventCont:hover{
    transform: scale(1.015);
    cursor:pointer;
}

/*___Actividades___*/
.dashContAct{
    background-color: #A72E2E;
    box-shadow: 1px 1px 2px #999;
    border: solid #dbdbdb 1px;
    border-radius: 15px;
    height: auto;
    margin-bottom: 10px;
    padding: 5px;
    width: 430px;
}

.dashContAct p{
    color: white;
    font-size: 0.9em;
    margin-left: 10px;
}

.activityCont{
    align-items: center;
    background-color: #5D55A5;
    border-radius: 10px;
    color:#FFFFFF;
    float: left;
    font-size: 0.7em;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
    transition: 250ms;
    width: fit-content;
}

/*___ User Action/ User Space _____*/
.userActions {
    background-color: #FDFDFD !important;
    color: grey !important;
    border-radius: 25px;
    padding: 2rem;
    padding-bottom: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 1;
    box-shadow: 0 2px 5px grey;
        padding-bottom: 3.2rem;
        margin-left: -0.8rem;
        border-color: #ff0 transparent transparent transparent;

} 

.userActions:after {
        content:"";
        border-color: white white transparent transparent;
        border-style:solid;
        border-width:2rem;
        width:0;
        height:0;
        position:absolute;
        top:40px;
        left:-40px
}


.userActions ul {
    list-style: none;
    padding: 0;
    margin: 0 25px;
    white-space:nowrap; 

}
.userActions li{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    transition: 250ms;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0;
    color: grey !important;
    font-size: 0.9em;
}

.userActions li:hover{
    cursor: pointer;
    color: grey !important;
    transform: scale(1.01);
    box-shadow: none !important;
}

.userActions .icon{
    width: 25px;
    margin: 0.8rem;
}

.userActions .header {
    margin: 0 auto;
    justify-content: space-between;
    padding: 2rem;
    text-align: center;
}
.userActions .header p{
    color: grey !important
}

hr {
    color: grey
}

#btnUser {
    background: none;
    border: none;
}

#btnUser:hover{
    transform: scale(1.015);
    cursor:pointer
}

/* _______ Inicio Login _______*/


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.mainContainerLogin * {
	box-sizing: border-box;
}

.mainContainerLogin {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

.mainContainerLogin h1 {
	font-weight: bold;
	margin: 0;
}

.mainContainerLogin h2 {
	text-align: center;
}

.mainContainerLogin p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.mainContainerLogin span {
	font-size: 12px;
}

.mainContainerLogin a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.mainContainerLogin button {
	border-radius: 15px;
	border: none;
    margin-top: 15px;
	background-color: #851313;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 35px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.mainContainerLogin button:active {
	transform: scale(0.95);
}

.mainContainerLogin form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.mainContainerLogin input {
	background-color: #eee;
	border: none;
    border-radius: 10px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.mainContainerLogin .container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.mainContainerLogin .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.overlay-container img{
	width: 120px;
    margin-bottom: 30px;
}

#user {
    background-image: url(../src/Assets/usuario-de-perfil.svg);
    background-position: left;
    background-size: 15px;
    background-repeat: no-repeat;
    border-radius: 8px;
    padding-left: 30px;
}

#pwd {
    background-image: url(../src/Assets/lock.svg);
    background-position: left;
    background-size: 15px;
    background-repeat: no-repeat;
    border-radius: 8px;
    padding-left: 30px;
}


.mainContainerLogin  .overlay {
	background: #851313;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: left;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.overlay-right sup {
	font-size: small;
    font-weight: normal;
}

.overlay-right img{
	width: 150px;
}